<manifest package="com.omjoonkim.app.GitHubBrowserApp"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
	>

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.omjoonkim.app.GitHubBrowserApp.App"
		android:allowBackup="true"
		android:appComponentFactory=".ComponentFactory"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:appComponentFactory"
		>

		<activity
			android:name="com.omjoonkim.app.GitHubBrowserApp.ui.search.SearchActivity"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name="com.omjoonkim.app.GitHubBrowserApp.ui.main.MainActivity"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="repos"
					android:scheme="testapp"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
